/*
primary: #f06292
p-light: #ff94c2
p-dark: #ba2d65
secondary: #aed581
s-light: #e1ffb1
s-dark: #7da453
*/

body{
    background-color: #f06292;
    color:
    font-family: 'Rammetto One', cursive; 
}
